<div class="d-flex align-items-center justify-content-center" style="height:300px;">
  <h1>家計簿</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "一覧へ", books_path, class: "btn btn-secondary" %>
</div>


